* {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    margin: 0px;
    height: 100vh;
    color: white;
}

@font-face {
    font-family: Roboto;
    src: url(assets/Roboto-Black.ttf);
}

:root {
    --bg-color: #57C5B6;
    --h-bg-color: #159895;
    --side-bar-color: #1A5F7A;
    --dark-blue-gradient: #002B5B; 
}

/*HEADER STYLES*/

img {
    height: 2em;
}

.profile > img {
    height: 3em;
    border-radius: 50px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    height: inherit;
}

.header {
    grid-column: 2 / 3;
    background-color: var(--h-bg-color);
    box-shadow: var(--dark-blue-gradient) 0px 8px 24px;
    z-index: 1;
}

.sidebar {
    background-color: var(--side-bar-color);
    grid-row: 1 / 4;
    height: 1fr;
    z-index: 2;
}

main {
    background-color: var(--bg-color);
    grid-row: 2 / 4;
}

.top-header {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 32px;
}

.header-left {
    padding-left: 64px;
    padding-top: 16px;
    display: grid;
    grid-template-columns: 1fr 20fr;
    align-self: center;
}

.header-right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 16px;
    justify-self: center;
    align-items: center;
}

.user-name {
    font-size: 1.4em;
    font-weight: 700;
}

input[type="search"] {
    border-radius: 20px;
    outline: none;
    border: none;
    background: var(--bg-color);
    padding: 8px;
}

::placeholder {
    font-weight: lighter;
    font-style: italic;
}

input[type="search"]:focus {
    border: 2px solid var(--dark-blue-gradient);
}

.sub-header {
    display: grid;
    grid-template-columns: 0fr 3fr 2fr;
    padding: 16px;
    padding-left: 64px;
}

.sub-header .profile img {
    height: 5em;
}

.user-info {
    padding-left: 16px;
    display: grid;
}

.user-name-at {
    font-size: 1.8em;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-right: 32px;
    align-self: center;
    gap: 16px;
}

.header button {
    border-radius: 25px;
    border: none;
    background-color: var(--side-bar-color);
    padding: 16px;
    font-size: 1.4em;
    color: white;
}

.header button:active {
    background-color: #002B5B;
}

/*SIDEBAR STYLES*/


a {
    color: white;
    text-decoration: none;
}

.sidebar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr 5fr;
    box-shadow: var(--dark-blue-gradient) 0px 8px 12px;
}


.dashboard {
    grid-column: 2 / 3;
    align-self: center;
}

.top {
    display: grid;
    justify-self: center;
    align-self: center;
    font-size: 2.5em;
    margin: 16px;
}

.nav, .user-stuff {
    font-size: 2em;
    display: grid;
    padding-left: 32px;
    grid-column: 1 / 2;
}

li::marker {
    font-size: 2em;
}

ul {
    line-height: 1;
}

 .nav li:nth-child(1) {
    list-style-image: url("assets/sidebar\ assets/home.svg");
}

.nav li:nth-child(2) {
    list-style-image: url("assets/sidebar\ assets/table-account.svg");
}

.nav li:nth-child(3) {
    list-style-image: url("assets/sidebar\ assets/message-badge.svg");
}

.nav li:nth-child(4) {
    list-style-image: url("assets/sidebar\ assets/clock-time-three-outline.svg");
}

.nav li:nth-child(5) {
    list-style-image: url("assets/sidebar\ assets/file-account.svg");
}

.nav li:nth-child(6) {
    list-style-image: url("assets/sidebar\ assets/account-group.svg");
}

.user-stuff li:nth-child(1) {
    list-style-image: url("assets/sidebar\ assets/cog.svg");
}

.user-stuff li:nth-child(2) {
    list-style-image: url("assets/sidebar\ assets/head-question-outline.svg");
}

.user-stuff li:nth-child(3) {
    list-style-image: url("assets/sidebar\ assets/shield-account-variant.svg");
}

/*MAIN CONTENT STYLES*/

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.card-group {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 16px;
    margin: 48px 16px 16px 16px;
}

.card-container {
    margin: 16px;
    background: var(--h-bg-color);
    box-shadow: var(--dark-blue-gradient) 0px 8px 12px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 10px 1fr;
    grid-template-rows: 1fr;
}

.card-container-header {
    position: absolute;
    margin: 16px 32px;
    font-size: 1.7em;
}

.card-header {
    margin: 16px;
    font-size: 2em;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    justify-self: start;
    align-self: flex-end;
}

.sideline {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background: linear-gradient(var(--dark-blue-gradient), var(--h-bg-color));
}

.card-text-container {
    margin-left: 16px;
}

.card-text-container h3 {
    font-size: 1.4em;
}

.card-text-container p {
    font-size: 0.9em;
    font-weight: lighter;
}

.icon-container {
    display: grid;
    grid-template-columns: 3em 3em 3em;
    justify-content: end;
    margin: 16px;
    gap: 16px;
}

.icon-container button {
    border-radius: 25px;
    border: none;
    background: transparent;
}

button:active {
    background: var(--side-bar-color);
}